name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        
env:
  PROJECT_NAME: Tesseract4Analyze

jobs:
  release:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64

      - name: Setup Nuget
        uses: Nuget/setup-nuget@v1.0.5
      - name: Restore nuget packages
        run: nuget restore D:\a\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}.sln

      - name: Setup NUnit.ConsoleRunner
        run: nuget install NUnit.ConsoleRunner -Version 3.16.2 -DirectDownload -OutputDirectory .

      - name: Build
        run: msbuild D:\a\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}.sln /p:Configuration=Release /p:Platform=x64

      - name: Run UnitTests
        run: ./NUnit.ConsoleRunner.3.16.2/tools/nunit3-console.exe  D:\a\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}\Tests\bin\x64\Release\net6.0\Tests.dll

      - name: Push to Nuget
        run: |
          cd D:\a\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}\${{ env.PROJECT_NAME }}\bin\x64\Release\
          nuget push "${{ env.PROJECT_NAME }}.${{ github.event.inputs.version }}.nupkg" ${{ secrets.NUGET_API_KEY }} -Source https://api.nuget.org/v3/index.json
          
